<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>
            <app-movie-star [grade]="movie.rating.average" [starLevel]="movie.rating.stars"></app-movie-star>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.images.small">
    <mat-card-content>
        <p>上映时间：{{ movie.mainland_pubdate | date : 'yyyy年MM月dd日' }}</p>
        <p>类型: {{ movie.genres | type }}</p>
        <p>导演: {{ movie.directors | director }}</p>
        <p>主演: {{ movie.casts | leadingRole }}</p>
        <a routerLink="/movie/{{ movie.id }}" class="moreInfo" mat-raised-button color="primary">查看详情</a>
    </mat-card-content>
</mat-card>